{% extends 'header.html' %}

{% block head %}


<title>Housing Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Wheat Type Classification Form</legend>
            <div class="mb-3">
                <label class="form-label">Area</label>
                <input class="form-control" type="text" name="area" placeholder="Enter a value of area"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Perimeter</label>
                <input class="form-control" type="text" name="perimeter" placeholder="Enter a value of perimeter"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Compactness</label>
                <input class="form-control" type="text" name="compactness"
                    placeholder="Enter a value of compactness" />

            </div>
            <div class="mb-3">
                <label class="form-label">Kernel Length</label>
                <input class="form-control" type="text" name="kernel_length" placeholder="Enter a value of kernel_length"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Kernel Width</label>
                <input class="form-control" type="text" name="kernel_width"
                    placeholder="Enter a value of kernel_width" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Asymmetry Coeff</label>
                <input class="form-control" type="text" name="asymmetry_coeff" placeholder="Enter a value of asymmetry coeff"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Kernel Groove</label>
                <input class="form-control" type="text" name="kerenel_groove" placeholder="Enter a value of kerenel_groove"
                    required />
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Classify Wheat Type" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Wheat Type Segregation
            </div>
            <div class="card-body">
        {% if context['wheat_type'] is not none %}
        <table class="table table-striped">
            <caption>Wheat Type Segregation </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['wheat_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Type </td>
                <td>
                    {{ context['wheat_type'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to Classify the wheat type</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}